/*-----------------------   GET JSON  ------------------------------*/

/*Texto con indicaciones de subur json*/
#jsonInput-label{

}

/*Input para subir json*/
#jsonInput{  

}

/*------------------- USER_INFO ----------------------------------------*/


/*------------------- GET_FOLLOWERS ----------------------------------------*/


/*------------------- COMPARE_FOLLOWERS ----------------------------------------*/

/*Texto p para mostrar cant de unfollowers*/
#unfollowers_cant{
    font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/*Lista con unfollowers*/
#unfollowers_list{
    padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-height: 300px;
  overflow-y: auto;
  list-style-type: none;
  padding-left: 0;
}

#unfollowers_list li{
    font-size: 16px;
  margin: 5px 0;
}

